<!DOCTYPE html>
<html class="fa-num" dir="rtl" lang="fa-IR">
<head>
    <title></title>
    <meta charset="UTF-8">
</head>
<body>
    <header class="header">
        <div class="header-1">
            <a href="/" class="logo-link">
                @*<span class="logo-text"></span>

                    <img src="" alt="" style="" />*@
            </a>
            <div class="search-container">
                @*<form action="" method="get" class="searchForm">
                        <input name="" type="search" id="" placeholder="" class="search-input">
                        <button class="search-button" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </form>*@
            </div>
        </div>
        <div class="header-2">
            <nav class="navbar">
                @*<a href="/"><i class="fas fa-home fa-1x"></i> خانه</a>
                    <a href=""><i class="fas fa-search fa-1x"></i></a>
                    <a href=""><i class="fas fa-shopping-cart fa-1x"></i></a>
                    <a href="/"><i class="fas fa-book fa-1x"></i></a>*@
            </nav>
        </div>

    </header>
    <div>
        @RenderBody()
    </div>

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3></h3>
                @*<a href="/"> <i class="fas fa-arrow-right" style="color: darkslateblue;"></i> </a>
                    <a href=""> <i class="fas fa-arrow-right" style="color: darkslateblue;"></i> </a>
                    <a href=""> <i class="fas fa-arrow-right" style="color: darkslateblue;"></i> </a>*@
            </div>

            <div class="box">
                <h3></h3>
                @*<a href=""> <i class="fas fa-arrow-right" style="color: blue;"></i> </a>
                    <a href=""> <i class="fas fa-arrow-right" style="color: blue;"></i> </a>
                    <a href=""> <i class="fas fa-arrow-right" style="color: blue;"></i> </a>*@
            </div>

            <div class="box">
                <h3></h3>
                @*<a href=""> <i class="fas fa-phone" style="color: darkslateblue;"></i> </a>
                    <a href=""> <i class="fas fa-envelope" style="color: darkslateblue;"></i></a>
                    <a href=""> <i class="fas fa-map" style="color: darkslateblue;"></i></a>*@
            </div>
        </div>
        <div class="credit"> تمامی حقوق این سایت محفوظ می باشد <a href=""></a> </div>
    </section>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
